<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao"
          class="otus.ru.example.dao.QuestionDaoImpl">
        <constructor-arg value="Questions.csv"/>
    </bean>

    <bean id="testService"
          class="otus.ru.example.service.TestServiceImpl">
        <constructor-arg ref="questionDao"/>
    </bean>

    <bean id="testRunnerService"
          class="otus.ru.example.service.TestRunnerServiceImpl">
        <constructor-arg ref="testService"/>
    </bean>

</beans>