<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный Кабинет</title>
</head>
  <style>

    body {
      padding: 50px;
    }

    label {
      display: inline-block;
      width: 70px;
    }

    .row{
      margin-top: 10px;
    }

    .title {
      display: block;
      width: auto;
      height: auto;
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
    }

    .button {
      display: inline-block;
      width: 100px;
      margin-top: 20px;
      margin-left: 30%;
    }

    .center{
      width: 250px;
      margin: auto;
    }
  </style>
<body>
  <div class="center">
    <span id="title" class="title">Личный кабинет</span>
    <div class="row">
      <label for="name-input">Имя</label>
      <input id="name-input" type="text"/>
    </div>
    <div class="row">
      <label for="surname-input">Фамилия</label>
      <input id="surname-input" type="text"/>
    </div>
    <div class="row">
      <label for="phone-input">Телефон</label>
      <input id="phone-input" type="tel"/>
    </div>
    <div class="row">
      <label for="email-input">Email</label>
      <input id="email-input" type="email"/>
    </div>
    <div class="row button">
      <form th:action="@{/personal-area/orders}">
        <button name="orders" type="submit">Мои заказы</button>
      </form>
    </div>
  </div>
</body>
</html>